*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
header{
    width: 100%;
    height: 600px;
    background: url(../img/1600x1200_tuerkische-halva.jpg) no-repeat center center / cover;
    margin: auto;
    max-width: 1800px;
}
.one{
    display: flex;
    justify-content: center;
    width: 700px;
}
.menu_h2{
    opacity: 0.8;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 100PX 0 0 0;
    font-size: 60px;
}
.img_h5{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 90px 10px 10px 0;
}
.box{
    display: flex;
    align-items:center ;
    margin: 30px 60px 60px 30px;
}
.img_h5{
    text-align: center;
}
 
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.two1{
    padding: 30px 30px;
    
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(147, 198, 247);;
    padding: 60px 80px 0 200px ;
    width: 100%;
    height: 600px;
}
.one1 img{
    width: 250px;
    height: 250px;
}
.block_p{
    margin: 30px 25px 20px 5px;
    width: 310px;
}
.one_h5{
    padding: 15px 0;
}
.gut_p{
    color:  rgb(155, 207, 255);;
    padding: 0 150px 15px;
}
.booc_h2{
    text-align: center;
    align-items: center;
    padding: 50px 0;
    color:  rgb(174, 215, 252);;;
}
 
.booc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.gut{
    padding: 20px 20px 20px 20px ;

}
.dark{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background: rgb(156, 203, 248);;
}
.dark_ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark_ul a{
    padding: 15px 15px;
    color: rgb(0, 0, 0);;

}
.btn{
    border: none;
    background: blue;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}
.btn a{
    color: #fff;
}